<div class="vh-100">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5">
                <div class="wt-box mt-3 p-lg-3">
                    <div class="d-flex">
                        <span class="material-symbols-outlined align-self-center mr-2" style="font-size: 50px">account_circle</span>
                        <div class="d-flex flex-column">
                            <small>UID: {{LogginIn[5]}}</small>
                            <h4 class="gray">{{'Environment' | translate}}</h4>
                        </div>
                    </div>

                    <hr>
                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Version</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Chanel</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Language</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Manufacturer</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">System</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Model</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Resolutions</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Network</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">IP</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Carrier</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Time Zone</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Login Device</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>

                    <div class="acc-box mb-1">
                        <div class="align-self-center">
                            <p class="mb-0">Request Time</p>
                        </div>
                        <div class="align-self-center ml-auto">
                            <p class="mb-0 gray">Loren Ipsum</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
