<div class="container p-4">
    <div class="pb-2 light-border-bottom">
        <h4>Account Settings</h4>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2 mt-2">
        <p>Language</p>
        <div class="d-flex align-items-center">
            <p class="m-0 mr-2">English</p>
            <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2">
        <p>Currency</p>
        <div class="d-flex align-items-center">
            <p class="m-0 mr-2">Euro</p>
            <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2">
        <p>Mode</p>
        <div class="d-flex align-items-center">
            <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
            </div>
            <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
        </div>
    </div>
    <div class="pb-2 light-border-bottom mt-2">
        <h4>Trading Settings</h4>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2 mt-2">
        <p>Transaction History</p>
        <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
            style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2">
        <p>Trading History</p>
        <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
            style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2">
        <p>Color Reference</p>
        <div class="d-flex align-items-center">
            <p class="tab-text txt-green m-0 mr-2">Green Up</p>
            <p class="tab-text txt-red m-0 mr-2">Red Down</p>
            <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2">
        <p>Volume Unit (Trading)</p>
        <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
            style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-outlined mr-3">Delete Trading Account</a>
    </div>
</div>