<div class="container p-4">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <span class="material-symbols-outlined acc-box-i align-self-center my-4"
            style="font-size: 35px; opacity: 0.6">arrow_forward_ios</span>
        <p class="mb-4" style="font-size: 27px; max-width: 200px; text-align: center;">Are you sure you want to logout?
        </p>
        <div class="d-flex mb-2">
            <a class="btn btn-outlined mr-2">Cancel</a>
            <a class="btn btn-primary">Logout</a>
        </div>
    </div>
</div>