<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/logo.svg" height="50">
        <p class="mt-3">
          {{"footer TXT" | translate}}
        </p>
      </div>
      <div class="col-md-4 f-list offset-md-1">
        <h5 class="text-white font-weight-bold">{{"About us" | translate}}</h5>
        <p class="" [routerLink]="'about/product-introduction'">{{"Product Introduction" | translate}}</p>
        <p class="" [routerLink]="'about/service-terms'">{{"Service Terms" | translate}}</p>
        <p class="" [routerLink]="'about/aml-policy'">{{"Anti-Money Laundering (AML) Policy" | translate}}</p>
        <p class="" [routerLink]="'about/privacy-policy'">{{"Privacy Policy" | translate}}</p>
      </div>
      <div class="col-md-3 f-list">
        <h5 class="text-white font-weight-bold">{{"Social" | translate}}</h5>
        <div class="social d-flex">
          <a href="https://www.facebook.com/ftftxglobal" target="_blank"><img src="assets/images/social/fb.svg" height="35"></a>
          <a  href="https://twitter.com/ftftxglobal" target="_blank" class="ml-4"><img src="assets/images/social/twitter.svg" height="35"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center mb-0">FTFT TRADING UAB Onyx Tower 2, 1113, The Greens, Dubai, UAE, +971 (0) 4882 8553, (PO Box: 11530)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btm-footer">
          <p class="text-center mb-0">Copyright © 2018-2022 ftftx.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>
