<div class="container p-4">
    <div class="pb-2 light-border-bottom mt-2">
        <h4>Support</h4>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2 mt-2">
        <p>Help Center</p>
        <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
            style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2">
        <p>Contact Us</p>
        <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
            style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2">
        <p>About Us</p>
        <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
            style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
    </div>
</div>