<div class="modal-body">
  <h5 class="s-bld text-center">Aggregate Trading Options </h5>
  <hr>

</div>
<div class="select-box"  (click)="navigate()"   [routerLink]="'/trade/'+data?.coin+'_USDT'">
  <img class="align-self-center" src="https://s2.coinmarketcap.com/static/img/exchanges/64x64/294.png" height="30">
  <h6 class="mb-0 align-self-center ml-2 s-bld"> OKX</h6>
</div>
<div class="select-box"  (click)="navigate()">
  <img class="align-self-center" src="https://s2.coinmarketcap.com/static/img/exchanges/64x64/102.png" height="30">
  <h6 class="mb-0 align-self-center ml-2 s-bld"> Huobi Global</h6>
</div>
  <div class="select-box disabled">
    <img class="align-self-center" src="https://s2.coinmarketcap.com/static/img/exchanges/64x64/270.png" height="30">
    <h6 class="mb-0 align-self-center ml-2 s-bld">Binance</h6>
    <p class="mb-0 align-self-center ml-auto" style="font-size: 12px">Coming soon</p>

  </div>


  <div class="select-box disabled" >
    <img class="align-self-center" src="https://s2.coinmarketcap.com/static/img/exchanges/64x64/525.png" height="30">
    <h6 class="mb-0 align-self-center ml-2 s-bld"> XT</h6>
    <p class="mb-0 align-self-center ml-auto" style="font-size: 12px">Coming soon</p>
  </div>
  <div class="select-box disabled" >
    <img class="align-self-center" src="https://s2.coinmarketcap.com/static/img/exchanges/64x64/37.png" height="30">
    <h6 class="mb-0 align-self-center ml-2 s-bld"> Bitfinex</h6>
    <p class="mb-0 align-self-center ml-auto" style="font-size: 12px">Coming soon</p>
  </div>
  <div class="select-box disabled" >
    <img class="align-self-center" src="https://s2.coinmarketcap.com/static/img/exchanges/64x64/171.png" height="30">
    <h6 class="mb-0 align-self-center ml-2 s-bld"> Luno</h6>
    <p class="mb-0 align-self-center ml-auto" style="font-size: 12px">Coming soon</p>
  </div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary d-block mx-auto" (click)="activeModal.dismiss()"  [routerLink]="'/coin/'+data?.url">View coin info</button>
</div>
