<div class="container p-4">
    <div class="pb-2 light-border-bottom">
        <h4>Security</h4>
    </div>
    <div class="row py-2 mt-2">
        <div class="col-3">
            <p>Password</p>
        </div>
        <div class="col-5">
            <span>*********</span>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                    style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
            </div>
        </div>
    </div>
    <div class="row py-2 mt-2">
        <div class="col-3">
            <div class="d-flex align-items-center">
                <p class="mr-4">Email</p>
                <p class="txt-green small-txt">Linked</p>
            </div>
        </div>
        <div class="col-5">
            <span>test@gmail.com</span>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                    style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
            </div>
        </div>
    </div>
    <div class="row py-2 mt-2">
        <div class="col-3">
            <div class="d-flex align-items-center">
                <p class="mr-4">Phone</p>
                <p class="txt-red small-txt">Unlinked</p>
            </div>
        </div>
        <div class="col-5">
            <span>+7475****89348</span>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                    style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
            </div>
        </div>
    </div>
    <div class="row py-2 mt-2">
        <div class="col-3">
            <p class="mr-4">2FA</p>
        </div>
        <div class="col-9">
            <div class="d-flex justify-content-end">
                <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                    style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
            </div>
        </div>
    </div>
    <div class="row py-2 mt-2">
        <div class="col-3">
            <p class="mr-4">Account Verification</p>
        </div>
        <div class="col-9">
            <div class="d-flex justify-content-end">
                <span class="material-symbols-outlined acc-box-i align-self-center ml-auto"
                    style="font-size: 16px; opacity: 0.6">arrow_forward_ios</span>
            </div>
        </div>
    </div>
</div>