<div class="container p-4">
    <div class="pb-2 light-border-bottom">
        <h4>Community Settings</h4>
    </div>
    <div class="row py-2 mt-2">
        <div class="col-3">
            <p>Profile Picture</p>
        </div>
        <div class="col-5">
            <span class="material-symbols-outlined align-self-center" style="font-size: 35px">account_circle</span>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <a class="btn btn-outlined mr-3">Edit</a>
            </div>
        </div>
    </div>
    <div class="row py-2 mt-2">
        <div class="col-3">
            <p>Nickname</p>
        </div>
        <div class="col-5">
            <div class="d-flex flex-column">
                <input class="form-control w-100">
                <span class="align-self-end helper-text">Maximum 25 letters</span>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <a class="btn btn-outlined mr-3">Save</a>
            </div>
        </div>
    </div>
    <div class="row py-2 mt-2">
        <div class="col-3">
            <p>Bio</p>
        </div>
        <div class="col-5">
            <div class="d-flex flex-column">
                <textarea class="form-control w-100 input-height"></textarea>
                <span class="align-self-end helper-text">Maximum 100 characters</span>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <a class="btn btn-outlined mr-3">Save</a>
            </div>
        </div>
    </div>
    <div class="pb-2 light-border-bottom mt-2">
        <h4>Notifications</h4>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2 mt-2">
        <div class="d-flex">
            <p>Posts & Comments</p>
            <span style="opacity: 0.5;">&nbsp; (Likes and Comments)</span>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1"></label>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-2">
        <p>New Followers</p>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1"></label>
        </div>
    </div>
</div>