.pg-main-sec {
  h1 {
    font-size: 60px;
  }

  .b-main-img {

  }

  .content-b {
    p {
      color: #5d5d5d;
      font-weight: bold;
    }
  }
}

.card-d-b {
  background: #FFFFFF;
  display: flex;
  margin-bottom: 24px;
  padding: 22px;
  border-radius: 12px;

  img {
    height: 70px;
    align-self: center;
  }

  .img-fit {
    object-fit: contain;
  }
}

.banner-header .hint {
  font-size: 26px;
}

.total-wrapper {
  span {
    padding: 10px;
    border-radius: 12px;
    color: gray;
    font-size: 12px;
    background: #1e253d;
  }
}

.gray {
  color: gray;
}

.buy-wrapper {
  //width: 100%;
  border: 1px solid gray;
  border-radius: 8px;
  background: transparent;
  padding: 10px ;
  color: white;
  cursor: pointer;

  .card-name {
    background: rgb(21, 119, 255);
    padding: 2px 5px;
    border-radius: 4px;
  }
}

.sub-account {
  padding: 10px;
}
