<div class="bg-wt">
  <div class="container fh-minus-100">
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <div class="wt-box p-4 mt-lg-5">
          <h1 class="s-bld mb-4">{{"Set Password" | translate}}</h1>
          <hr>
          <form [formGroup]="Form">
            <label class="mt-3">{{"Password" | translate}}</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">

            <p class="mt-4 text-center error-msg">{{LoginErrors}} </p>
            <button class="btn btn-primary btn-lg mt-5 mx-auto d-block font-weight-bold px-5" [disabled]="Form.invalid"
                    (click)="setPassword()">{{"Set" | translate}}</button>
          </form>
          <p class="mt-4 text-center"><a routerLink="/login">Back to Login</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>
