<div class="row mt-5 matrix-pg">
  <div class="col-lg-4">
    <div class="wt-box mb-4">
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright" #txVolume><a
          href="https://www.tradingview.com/symbols/BTC_TXVOLUME/?exchange=INTOTHEBLOCK" rel="noopener" target="_blank"><span
          class="blue-text">BTC_TXVOLUME rates</span></a> by TradingView
        </div>
      </div>
      <!--      <p class="s-bld mb-0 px-3 pt-3">{{"Total Volume" | translate}}</p>-->
      <!--      <h3 class="px-3 ">$ {{GlobalDataFiltered[GlobalDataFiltered?.length - 1]?.volume | number: '0.0-1'}}</h3>-->
      <!--      <div class="spark" align="center">-->
      <!--        <ejs-sparkline id="area" height="80px" [border]="border"  valueType="Category" fill="#ffffff" type="Area"-->
      <!--                       [axisSettings]="axisSettings"  [dataSource]="GlobalDataFiltered" [tooltipSettings]="catTooltipSettings"-->
      <!--                       xName="x" yName="volume" ></ejs-sparkline>-->
      <!--      </div>-->
    </div>
  </div>
  <div class="col-lg-4">
    <div class="wt-box mb-4">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright" #marketcap><a
          href="https://www.tradingview.com/symbols/USDT/?exchange=CRYPTOCAP" rel="noopener" target="_blank"><span
          class="blue-text">USDT rates</span></a> by TradingView
        </div>
      </div>
      <!--      <p class="s-bld mb-0 px-3 pt-3">{{"Total Marketcap" | translate}}</p>-->
      <!--      <h3 class="px-3 ">$ {{GlobalDataFiltered[GlobalDataFiltered?.length - 1]?.marketCap | number: '0.0-1'}}</h3>-->
      <!--      <div class="spark" align="center">-->
      <!--        <ejs-sparkline id="area2" height="80px" [border]="border" valueType="Category" fill="#ffffff" type="Area"-->
      <!--                       [axisSettings]="axisSettings"  [dataSource]="GlobalDataFiltered" [tooltipSettings]="catTooltipSettingsMC"-->
      <!--                       xName="x" yName="marketCap" ></ejs-sparkline>-->
      <!--      </div>-->
    </div>
  </div>
  <div class="col-lg-4">
    <div class="wt-box mb-4">
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright" #btcDominance><a
          href="https://www.tradingview.com/symbols/BTC.D/?exchange=CRYPTOCAP" rel="noopener" target="_blank"><span
          class="blue-text">BTC.D rates</span></a> by TradingView
        </div>
      </div>
      <!--      <p class="s-bld mb-0 px-3 pt-3">{{"BTC Dominance" | translate}}</p>-->
      <!--      <h3 class="px-3 ">{{GlobalDataFiltered[GlobalDataFiltered?.length - 1]?.btc | number: '0.0-1'}} %</h3>-->
      <!--      <div class="spark" align="center">-->
      <!--        <ejs-sparkline id="area3" height="80px" [border]="border" valueType="Category" fill="#ffffff" type="Area"-->
      <!--                       [axisSettings]="axisSettings"  [dataSource]="GlobalDataFiltered" [tooltipSettings]="catTooltipSettingsBTC"-->
      <!--                       xName="x" yName="btc" ></ejs-sparkline>-->
      <!--      </div>-->
    </div>
  </div>

</div>

