<div class="vh-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-md-3">
        <div class="wt-box mt-3 p-3" *ngIf="Page === 1">
          <div class="d-flex">
          <span class="material-symbols-outlined align-self-center mb-0 mr-2" style="font-size: 30px;">verified_user</span>
          <h4 class="s-bld mb-0 align-self-center"> Personal verification</h4>
          </div>
          <hr>

          <label class="s-bld mt-3">First Name</label>
          <input class="form-control rounded-0" placeholder="First Name" [(ngModel)]="KYC.first_name">


          <label class="s-bld mt-3">Middle Name</label>
          <input class="form-control rounded-0" placeholder="Middle Name" [(ngModel)]="KYC.middle_name">


          <label class="s-bld mt-3">Last Name</label>
          <input class="form-control rounded-0" placeholder="Last Name" [(ngModel)]="KYC.last_name">

          <label class="s-bld mt-3">Birth Date</label>
          <div class="input-group">
            <input
                    (click)="d.toggle()"
                    class="form-control rounded-0"
                    placeholder="yyyy-mm-dd"
                    [(ngModel)]="KYC.dob"
                    ngbDatepicker
                    #d="ngbDatepicker"
            />
          </div>

          <label class="s-bld mt-3">Expiry Date</label>
          <div class="input-group">
            <input
                    (click)="e.toggle()"
                    class="form-control rounded-0"
                    placeholder="yyyy-mm-dd"
                    [(ngModel)]="KYC.expiry_date"
                    ngbDatepicker
                    #e="ngbDatepicker"
            />
          </div>

          <label class="s-bld mt-3">Issue Date</label>
          <div class="input-group">
            <input
                    (click)="i.toggle()"
                    class="form-control rounded-0"
                    placeholder="yyyy-mm-dd"
                    [(ngModel)]="KYC.issue_date"
                    ngbDatepicker
                    #i="ngbDatepicker"
            />
          </div>

          <label class="s-bld mt-3">Nationality</label>
          <div ngbDropdown>
            <div class="form-control ddrop d-flex" id="dropdownBasic1" ngbDropdownToggle (click)="search = ''">
              <ng-container *ngIf="SelectedNationality === '' ; else isNationality">-- Select --</ng-container>
              <ng-template #isNationality>
                <img src="https://cdn.kcak11.com/CountryFlags/countries/{{SelectedNationality.alpha_2_code.toLowerCase()}}.svg"  class="mr-2">
                {{SelectedNationality.nationality}}</ng-template>
              <span class="material-symbols-outlined align-self-center mb-0 ml-auto mr-2" style="font-size: 24px;">arrow_drop_down</span>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop-down-cc">
              <div class="wt-box p-2 rounded-0" style="position: sticky;top: -0.5rem">
                <input [(ngModel)]="search" class="form-control" placeholder="Search"  >
              </div>
              <ng-container *ngFor="let cont of Countries">
                <button ngbDropdownItem *ngIf="cont.nationality.toLowerCase().includes(search.toLowerCase())" (click)="SelectedANationality(cont)">
                  <img src="https://cdn.kcak11.com/CountryFlags/countries/{{cont.alpha_2_code.toLowerCase()}}.svg"  class="mr-2">
                  {{cont.nationality}}
                </button>
              </ng-container>
            </div>
          </div>

<!--          <h5 class="mt-4">Government-issued Document</h5>-->
<!--          <label class="s-bld mt-3">Country of Issue</label>-->
<!--          <div ngbDropdown>-->
<!--            <div class="form-control ddrop d-flex" id="dropdownBasic1" ngbDropdownToggle (click)="search = ''">-->
<!--              <ng-container *ngIf="SelectedCountry === '' ; else isCountry">&#45;&#45; Select &#45;&#45;</ng-container>-->
<!--              <ng-template #isCountry>-->
<!--                <img src="https://cdn.kcak11.com/CountryFlags/countries/{{SelectedCountry.alpha_2_code.toLowerCase()}}.svg"  class="mr-2">-->
<!--                {{SelectedCountry.en_short_name}}</ng-template>-->
<!--              <span class="material-symbols-outlined align-self-center mb-0 ml-auto mr-2" style="font-size: 24px;">arrow_drop_down</span>-->
<!--            </div>-->
<!--            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop-down-cc">-->
<!--              <div class="wt-box p-2 rounded-0" style="position: sticky;top: -0.5rem">-->
<!--                <input [(ngModel)]="search" class="form-control" placeholder="Search"  >-->
<!--              </div>-->
<!--              <ng-container *ngFor="let cont of Countries">-->
<!--              <button ngbDropdownItem *ngIf="cont.en_short_name.toLowerCase().includes(search.toLowerCase())" (click)="SelectedACountry(cont)">-->
<!--                <img src="https://cdn.kcak11.com/CountryFlags/countries/{{cont.alpha_2_code.toLowerCase()}}.svg"  class="mr-2">-->
<!--                {{cont.en_short_name}}-->
<!--              </button>-->
<!--              </ng-container>-->
<!--            </div>-->
<!--          </div>-->

          <!--          <div class="mt-3">-->
<!--            <p class="" style="opacity: 0.6">Choose your document type</p>-->
<!--            <ng-container *ngFor="let tp of DocumentTypes">-->
<!--            <div class="acc-box mb-2" [ngClass]="{'acc-box-selected': KYC.document_type === tp.value}" (click)="switchDocumentType(tp)">-->
<!--              <h6 class="s-bld mb-0">{{tp.caption}}</h6>-->
<!--            </div>-->
<!--            </ng-container>-->
<!--          </div>-->
          <div class="d-flex mt-4">
<!--            <div class="d-flex progress-w align-self-center pr-lg-5 pr-3">-->
<!--              <div class="filled flex-fill" ></div>-->
<!--              <div class="un-filled ml-2 flex-fill" ></div>-->
<!--              <div class="un-filled ml-2 flex-fill" ></div>-->
<!--            </div>-->
            <button class="btn btn-primary px-5  ml-auto" [disabled]="!SelectedNationality" (click)="continue()">Continue</button>
          </div>
        </div>


        <div class="wt-box mt-3 p-3" *ngIf="Page === 2 && verificationUrl">
          <iframe [src]="verificationUrl | safe" height="100%" width="100%" id="shuftipro-iframe" style="overflow:hidden; margin-top: 100px;height:600px;width:100%"  allow="camera" frameborder="0"></iframe>

          <!--          <div class="d-flex">-->
<!--            <span class="material-symbols-outlined align-self-center mb-0 mr-2" style="font-size: 30px;">verified_user</span>-->
<!--            <h4 class="s-bld mb-0 align-self-center"> Personal verification</h4>-->
<!--          </div>-->
<!--          <hr>-->
<!--          <h5 class="mb-0">Upload Image of ID</h5>-->
<!--          <div class="mt-3 instructions">-->
<!--            <p class=""><span class="material-symbols-outlined">check</span> Government-issued</p>-->
<!--            <p class=""><span class="material-symbols-outlined">check</span> Original full-size, unedited documents</p>-->
<!--            <p class=""><span class="material-symbols-outlined">check</span> Place documents against a single-coloured background</p>-->
<!--            <p class=""><span class="material-symbols-outlined">check</span> Readable, well-lit, coloured images</p>-->
<!--            <p class=""><span class="material-symbols-outlined">close</span> No black and white images</p>-->
<!--            <p class=""><span class="material-symbols-outlined">close</span> No edited or expired documents</p>-->
<!--          </div>-->
<!--          <div class="d-flex mt-5">-->
<!--            <div class="image-upload flex-fill">-->
<!--              <p class="mb-0 s-bld">Front</p>-->
<!--              <label for="file-input">-->
<!--                <span class="material-symbols-outlined m-auto" >photo_camera</span>-->
<!--              </label>-->
<!--              <input id="file-input" type="file" />-->
<!--            </div>-->

<!--            <div class="image-upload flex-fill ml-2">-->
<!--              <p class="mb-0 s-bld">Back</p>-->
<!--              <label for="file-input">-->
<!--                <span class="material-symbols-outlined m-auto" >photo_camera</span>-->
<!--              </label>-->
<!--              <input id="file-input" type="file" />-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="d-flex mt-4">-->
<!--            <div class="d-flex progress-w align-self-center pr-lg-5 pr-3">-->
<!--              <div class="filled flex-fill" ></div>-->
<!--              <div class="filled ml-2 flex-fill" ></div>-->
<!--              <div class="un-filled ml-2 flex-fill" ></div>-->
<!--            </div>-->
<!--            <button class="btn btn-primary px-5  ml-auto" (click)="Page = 3">Continue</button>-->
<!--          </div>-->
        </div>



        <div class="wt-box mt-3 p-3" *ngIf="Page === 3">
          <div class="d-flex">
            <span class="material-symbols-outlined align-self-center mb-0 mr-2" style="font-size: 30px;">verified_user</span>
            <h4 class="s-bld mb-0 align-self-center"> Personal verification</h4>
          </div>
          <hr>
          <h5 class="mb-0">Upload a Selfie</h5>
          <div class="mt-3 instructions">
            <p class=""><span class="material-symbols-outlined">check</span> Use a light room</p>
            <p class=""><span class="material-symbols-outlined">check</span> Hold the camera stable</p>
            <p class=""><span class="material-symbols-outlined">close</span> No flash</p>
            <p class=""><span class="material-symbols-outlined">close</span> No hat or glass</p>
          </div>
          <div class="d-flex mt-4">
            <div class="image-upload flex-fill">
              <p class="mb-0 s-bld">Take a Selfie</p>
              <label for="file-input">
                <span class="material-symbols-outlined m-auto" >camera_front</span>
              </label>
              <input id="file-input" type="file" />
            </div>
          </div>
          <div class="d-flex mt-4">
            <div class="d-flex progress-w align-self-center pr-lg-5 pr-3">
              <div class="filled flex-fill" ></div>
              <div class="filled ml-2 flex-fill" ></div>
              <div class="filled ml-2 flex-fill" ></div>
            </div>
            <button class="btn btn-primary px-5  ml-auto" (click)="Page = 4">Submit</button>
          </div>
        </div>




        <div class="wt-box mt-3 p-3" *ngIf="Page === 4">
          <div class="d-flex">

            <span class="material-symbols-outlined align-self-center mb-0 mr-2" style="font-size: 30px;">verified_user</span>
            <h4 class="s-bld mb-0 align-self-center"> Personal verification</h4>
          </div>
          <hr>
          <img src="assets/images/checked.gif" class="mx-auto d-block mb-2 mt-5">
          <h2 class="mb-0 text-center s-bld">Thank you !</h2>
          <p class="mb-0 text-center" style="opacity: 0.6">Review time : 1 day</p>
          <button class="btn btn-primary px-5  mx-auto d-block mt-5" [routerLink]="'/account'">Go back</button>
        </div>
      </div>
    </div>
  </div>
</div>
